<div class="container">

  <h4>
    Search Orders
  </h4>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="input-group" ng-form="searchForm">
        <input type="text" name="criteria" class="form-control" placeholder="Order number, email, beneficiary..." ng-model="searchCriteria"
               required>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search(searchCriteria)">Go!</button>
      </span>
      </div>

      <div class="text-CS text-center" ng-show="searchForm.orderId.$error.required && submitted">
        <small class="text-CS">This field is required</small>
      </div>
    </div>
  </div>



  <div  ng-show="orderSelected">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-11">
            <table class="table table-condensed">
              <tr>
                <th>Order Id</th>
                <th>User</th>
                <th>Email</th>
                <th>Beneficiary</th>
                <th>Created At</th>
                <th>Company</th>
                <th>Team</th>
                <th>Status</th>
              </tr>
              <tr>
                <td>{{orderSelected.orderId}}</td>
                <td>{{orderSelected.paymentsPlan[0].userInfo.userName}}</td>
                <td>{{orderSelected.paymentsPlan[0].email}}</td>
                <td>{{orderSelected.paymentsPlan[0].beneficiaryInfo.beneficiaryName}}</td>
                <td>{{orderSelected.createAt | date}}</td>
                <td>{{orderSelected.paymentsPlan[0].productInfo.organizationName}}</td>
                <td>{{orderSelected.paymentsPlan[0].productInfo.productName}}</td>
                <td>{{orderSelected.status}}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-1">
            <button class="btn btn-danger">Cancel</button>
          </div>
        </div>

      </div>

      <div class="table-responsive">
        <table class="table table-condensed">
          <thead><tr>
            <th>Description</th>
            <th>Charge</th>
            <th>Price</th>
            <th>Card</th>
            <th>Last4</th>
            <th>Processed</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="pp in orderSelected.paymentsPlan">
            <td>{{pp.description}}</td>
            <td>{{pp.dateCharge | date}}</td>
            <td>{{pp.price | currency}}</td>
            <td>{{pp.accountBrand}}</td>
            <td>{{pp.last4}}</td>
            <td>{{pp.wasProcessed == true ? "Yes" : "No"}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div ng-repeat="ord in searchResult">
    <div class="panel panel-default">
      <div class="panel-heading" ng-click="setPreview($index)">
        <div class="row">
          <div class="col-md-11">
            <table class="table table-condensed">
              <tr>
                <th>Order Id</th>
                <th>User</th>
                <th>Email</th>
                <th>Beneficiary</th>
                <th>Created At</th>
                <th>Company</th>
                <th>Team</th>
                <th>Status</th>
              </tr>
              <tr>
                <td>{{ord.orderId}}</td>
                <td>{{searchResult.orders[0].paymentsPlan[0].userInfo.userName}}</td>
                <td>{{searchResult.orders[0].paymentsPlan[0].email}}</td>
                <td>{{searchResult.orders[0].paymentsPlan[0].beneficiaryInfo.beneficiaryName}}</td>
                <td>{{ord.createAt | date}}</td>
                <td>{{searchResult.orders[0].paymentsPlan[0].productInfo.organizationName}}</td>
                <td>{{searchResult.orders[0].paymentsPlan[0].productInfo.productName}}</td>
                <td>{{ord.status}}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-1">
            <button class="btn btn-success" ng-click="selectOrder($index)">Edit</button>
          </div>
        </div>

      </div>

      <div class="table-responsive" ng-show="$index == orderPreview">
        <table class="table table-condensed">
          <thead><tr>
            <th>Description</th>
            <th>Charge</th>
            <th>Price</th>
            <th>Card</th>
            <th>Last4</th>
            <th>Processed</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="pp in ord.paymentsPlan">
            <td>{{pp.description}}</td>
            <td>{{pp.dateCharge | date}}</td>
            <td>{{pp.price | currency}}</td>
            <td>{{pp.accountBrand}}</td>
            <td>{{pp.last4}}</td>
            <td>{{pp.wasProcessed == true ? "Yes" : "No"}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>




</div>

<div class="container empty-car text-CS" ng-show="submitted">
  <loading></loading>
</div>

